
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* BASE STYLES */

/* Flexible List */

.flexible-visual-list {
    display: grid;
    grid-gap: 20px;
}

.flexible-visual-list h2 {
    text-align: left;
    font-size: 1.375rem;
    padding: 0;
}

.flexible-visual-list p {
    text-align: left;
    font-size: 1rem;
    padding: 0;
}

.flexible-visual-list.list {
    grid-template-columns: 1fr;
}

.flexible-visual-list.list .list-item {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 3fr; 
}

.flexible-visual-list.list h2 {
    margin-top: 0;
}

.flexible-visual-list.list.double {
    grid-template-columns: 1fr 1fr;
}

.flexible-visual-list-image {
    aspect-ratio: 1;
    background: var(--light-gray-40);
}

.flexible-visual-list-body {
    padding: 0 10px;
}

/* ------ GRID ------ */

.flexible-visual-list.grid {
    grid-template-columns: 1fr;
}

.flexible-visual-list.grid.two-col {
    grid-template-columns: 1fr 1fr;
}

.flexible-visual-list.grid.three-col {
    grid-template-columns: 1fr 1fr 1fr;
}

.flexible-visual-list.grid.four-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flexible-visual.list.grid > div {
}

/* Inputs */

a.content-button {
    border: 1px solid;
    background-color: var(--lightest-gray);
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

a.content-button:hover {
    background-color: var(--light-gray-80);
}

/* ----- MQs ----- */

@media only screen and (max-width: 720px) {
    .flexible-visual-list.grid.three-col, .flexible-visual-list.grid.four-col {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 480px) {
    .flexible-visual-list.grid.three-col, .flexible-visual-list.grid.four-col
        grid-template-columns: 1fr;
    }
}
